* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Times New Roman';
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
  color: #515076;
  font-weight: 400;
}

.background {
  background-image: url("img/background-flowers.png");
  background-repeat: no-repeat;
  background-size: 790px 697px;
  position: absolute;
  top: 0px;
  width: 790px;
  height: 697px;
  z-index: -1;
}

.title {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 220px;
  margin-right: 217px;
  margin-left: 217px;
  margin-bottom: 110px;
}

.button {
  background-color: #515076;
  border-radius: 30px;
  border: none;
  max-width: 210px;
  padding: 10px;
  color: #F7F7FA;
}

.button-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  position: relative;
  list-style: none;
  margin: auto;
}

.bg-silver {
  background-color: #C0C0C0;
}

.content-container {
  width: 1110px;
  height: 1191px;
  margin: auto;
}

.product-card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  position: relative;
  width: 1110px;
  height: 1191px;
  list-style: none;
  margin: auto;
}

.card-container {
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  padding: 25px;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.card-title {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-top: 5px;
  margin-left: 17px;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.product-price-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}



.footer {
  background-color: #3A3A3A;
  width: 100%;
  height: 500px;
}

.footer-content-container {
  box-sizing: content-box;
  width: 1569px;
  height: 147px;
  display: flex;
  justify-content:space-between;
  margin: auto;
  padding-top: 85px;
}

.copyright-text::before {
  content: "";
  display: block;
  width: 66px;
  height: 1px;
  background: #FFFFFF;
  margin: 33px auto;
}

.copyright-text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.title-name {
  font-size: 28px;
  font-weight: 800;
  line-height: 154%;
  color: #FFFFFF;
}

.title-name-description {
  font-size: 18px;
  line-height: 154%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 42px;
}

.contacts-images {
  display: flex;
  justify-content: space-between;
  width: 76px;
}

.subscription-text {
  font-size: 24px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 13px;
  text-align: center;
}

.form-subscription {
  width: 477px;
  height: 61px;
  display: flex;
  background: #FFFFFF;
  font-size: 0;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 239px;
}

.form-subscription input {
  width: 70%;
  padding: 21px 36px;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  outline: none;
}

.form-subscription button {
  width: 30%;
  height: 22px;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #000000;
  background-color: transparent;
  border: 0;
  border-left: #000000 solid 1px;
}

.links-container {
  height: 147px;
}

.links-list {
  display: flex;
  flex-direction: column;
}

.links-list a {
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 17px;
}

.links-container p {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 23px;
}



.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.form-submit-btn {
  background: #515076;
  color: #FFFFFF;
  border: 0;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  margin: 10px auto;
}

.auth-btn {
  background: #92a354;
  color: #FFFFFF;
  border: 0;
  border-radius: 10px;
  width: 200px;
  height: 60px;
}

.modal {
  width: 400px;
  height: 300px;
  position: fixed;
  margin: auto;
  inset: 0px;
  background: #FFFFFF;
  border-radius: 10px;
  display: none;
  z-index: 4;
}

.modal p {
  font-size: 30px;
  text-align: center;
  margin: 40px 0;
  font-weight: 700;
}

.modal form {
  margin: auto;
}

.modal-showed {
  display: block;
}

.overlay {
  background-color: #000000b7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: none;
}

.close-btn {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}